# Environments
.env
.venv
env/
venv/
ENV/

data/transcripts/

repo_code.py
repo_export.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs and databases
*.log
*.sqlite
*.sqlite3

# Qdrant / Data / ML Caches
/data/*
!/data/.gitkeep

mypy_report.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pywave
.hypothesis/
.pytest_cache/
cover/

# Caching
.cache/
.gptcache/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
