SEC_USER_AGENT='name email'

QDRANT_URL=http://localhost:6333
OPENAI_API_KEY="sk-proj-..."

# .env
FASTEMBED_CACHE_PATH=/home/deepak/.cache/fastembed

TAVILY_API_KEY = 'tvly-dev-...'

GRAFANA_ADMIN_PASSWORD = 'admin'
